.calification{
    -webkit-text-size-adjust: 100%;
    font-family: "Amazon Ember",Arial,sans-serif;
    direction: ltr;
    color: #007185;
    box-sizing: border-box;
    font-size: 14px!important;
    line-height: 20px!important;
    text-decoration: none;
}